[🐟] 提醒您: {{ today_status.date.strftime("%Y年%m月%d日") }}{{ today_status.weekday_cn }} · {{ lunar_date.strftime("%o年(%a) %L%M月%D") }}, {{ greeting }}~ 摸鱼人
{{ header_text }}
{# 年进度条 #}
{{ year_progress_status.render_bar() }}
{# 周末倒计时 #}
{% if workweek_status.friday.is_today %}
今天是周五 {% if workweek_status.tomorrow.is_workday %}但是明天还得上班😭
{% else %}明天休息啦🎉
{% endif %}
{% elif workweek_status.friday.days_until > 0 %}
距离周五还有{{ workweek_status.friday.days_until }}天
{% endif %}
{# 节日提醒 #}
{% for festival in festivals %}
距离{{ festival.name }}还有{{ festival.days }}天
{% endfor %}

{% if one_sentence %}
{{ one_sentence.get('content', '') }}
—— {{ one_sentence.get('author', '未知') }}「{{ one_sentence.get('source', '网络') }}」
{% else %}
{{ footer_text }}
{% endif %}